@using BulkRename.Constants
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer

@model Dictionary<string, List<Series>>

@foreach (var s in Model)
{
    <h3>@s.Key</h3>
    <table class="customtable">
        <tbody>
            <tr>
                <th class="oldname">@SharedLocalizer[LocalizationConstants.OLD_NAME]</th>
                <th class="newname">@SharedLocalizer[LocalizationConstants.NEW_NAME]</th>
            </tr>
            @foreach (var ser in s.Value)
            {
                <tr>
                    <td class="oldname">@ser.OldName</td>
                    <td class="newname">@ser.NewName</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}