@using BulkRename.Constants
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer[LocalizationConstants.SERIES];
}

@model Dictionary<string, List<Series>>

<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>@SharedLocalizer[LocalizationConstants.SERIES]</title>
    <link href="~/css/customStyles.css" rel="stylesheet"/>
</head>

<div class="text-start">
    <a class="btn btn-success" href="@Url.Action("Rename")">@SharedLocalizer[LocalizationConstants.SUBMIT_RENAMING]</a>
</div>

<br/>

@Html.DisplayFor(model => model, "SeriesTable")