@using BulkRename.Constants
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer

@model Dictionary<string, List<Series>>

@{
    ViewData["Title"] = SharedLocalizer[LocalizationConstants.HISTORY];
}

<!DOCTYPE html>

<head>
    <title>@SharedLocalizer[LocalizationConstants.HISTORY]</title>
    <meta charset="utf-8" />
</head>

<head>
    <meta charset="utf-8" />
    <title>@SharedLocalizer[LocalizationConstants.SERIES]</title>
    <link href="~/css/customStyles.css" rel="stylesheet" />
</head>

<div class="text-start">
    <a class="btn btn-primary" href="@Url.Action("LoadHistory", "History")">@SharedLocalizer[LocalizationConstants.LOAD_HISTORY]</a>
</div>

<br />

@Html.DisplayFor(model => model, "SeriesTable")