@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer

@model Dictionary<string, List<Series>>

@{
    ViewData["Title"] = SharedLocalizer["History"];
}

<!DOCTYPE html>

<head>
    <title>@SharedLocalizer["History"]</title>
    <meta charset="utf-8" />
</head>

<head>
    <meta charset="utf-8" />
    <title>@SharedLocalizer["Series"]</title>
    <link href="~/css/customStyles.css" rel="stylesheet" />
</head>

<div class="text-start">
    <a class="btn btn-primary" href="@Url.Action("LoadHistory", "History")">@SharedLocalizer["LoadHistory"]</a>
</div>

<br />

@Html.DisplayFor(model => model, "SeriesTable")