@using BulkRename.Constants
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer

@model ErrorViewModel

@{
    ViewData["Title"] = SharedLocalizer[LocalizationConstants.ERROR];
}

<h1 class="text-danger">@SharedLocalizer[LocalizationConstants.ERROR].</h1>
<h2 class="text-danger">@SharedLocalizer[LocalizationConstants.AN_ERROR_OCCURED_HEADER]</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}

<h3>@SharedLocalizer[LocalizationConstants.DEVELOPMENT_MODE]</h3>
<p>
    @SharedHtmlLocalizer[LocalizationConstants.SWAPPING_TO_DEVELOPMENT_MODE_DISPLAY]
</p>
<p>
    @SharedHtmlLocalizer[LocalizationConstants.DETAILED_ERROR_MESSAGE]
</p>
